# datetime 모듈
컴퓨터 시스템의 날짜와 시간을 얻어온다.

In [2]:
import datetime # datetime 모듈 전체를 import 한다.
now = datetime.datetime.now()
print(now)

2022-05-18 12:47:14.236872

In [3]:
from datetime import datetime # datetime 모듈에서 datetime 클래스만 import 한다.
now2 = datetime.now()
print(now2)

2022-05-18 12:49:29.050165

In [4]:
from datetime import datetime as dt # datetime 클래스의 별명을 dt로 지정한다.
now3 = dt.now()
print(now3)

2022-05-18 12:50:47.272145

날짜, 시간 데이터에서 년, 월, 일, 시, 분, 초, 밀리초, 마이크로초, 요일 추출하기

In [12]:
from datetime import datetime as dt
today = dt.now()
print(today)
print('년: {}'.format(today.year))
print('월: {}'.format(today.month))
print('일: {}'.format(today.day))
print('시: {}'.format(today.hour))
print('분: {}'.format(today.minute))
print('초: {}'.format(today.second))
print('마이크로초: {}'.format(today.microsecond))
print('밀리초: {}'.format(today.microsecond // 1000))
# weekday() 메소드로 요일을 얻어올 수 있다. => 월(0), 화(1), 수(2), 목(3), 금(4), 토(5), 일(6)
print('요일: {}'.format(today.weekday()))
week = ['월', '화', '수', '목', '금', '토', '일']
print('요일: {}'.format(week[today.weekday()]))

2022-05-18 13:00:48.041818
년: 2022
월: 5
일: 18
시: 13
분: 0
초: 48
마이크로초: 41818
밀리초: 41
요일: 2
요일: 수

날짜, 시간 데이터 수정하기

In [17]:
from datetime import datetime as dt
today = dt.now()
print(today)
print(today.replace(year=2023))
print(today.replace(month=12))
print(today.replace(day=25))
print(today.replace(hour=18))
print(today.replace(minute=20))
print(today.replace(second=30))
print(today.replace(microsecond=111111))

2022-05-18 13:05:41.070910
2023-05-18 13:05:41.070910
2022-12-18 13:05:41.070910
2022-05-25 13:05:41.070910
2022-05-18 18:05:41.070910
2022-05-18 13:20:41.070910
2022-05-18 13:05:30.070910
2022-05-18 13:05:41.111111

날짜, 시간 데이터 만들기

In [25]:
from dateutil.parser import parse
date = parse('2022-7-15')
print(date)
print(type(date))
time = parse('18:20:00')
print(time)
print(type(time))
day = parse('2022-7-15 18:20:00')
print(day)
print(type(day))

2022-07-15 00:00:00
<class 'datetime.datetime'>
2022-05-18 18:20:00
<class 'datetime.datetime'>
2022-07-15 18:20:00
<class 'datetime.datetime'>

두 날짜 데이터 사이의 차이 계산하기

In [27]:
start = dt.now()
print(start)

2022-05-18 13:14:06.452099

In [28]:
end = dt.now()
print(end)

2022-05-18 13:14:12.787815

In [37]:
t = end - start
print(t)
print(t.days) # 두 날짜 데이터 사이의 일 단위 차이를 얻어온다.
print(t.seconds) # 두 날짜 데이터 사이의 초 단위 차이를 얻어온다.
print(t.microseconds) # 두 날짜 데이터 사이의 마이크로초 단위 차이를 얻어온다.
print(t.total_seconds()) # 두 날짜 데이터 사이의 차이를 초 단위로 환산해서 얻어온다.

0:00:06.335716
0
6
335716
6.335716

In [40]:
t = parse('2022-7-15 18:20:00') - dt.now()
print(t)
print(t.total_seconds())

58 days, 4:58:11.316893
5029091.316893

날짜, 시간 출력 서식 지정하기  
날짜데이터.strftime('출력서식')

In [44]:
today = dt.now()
print(today)
# %Y: 년도 4자리, %y: 년도 2자리, %m: 월(숫자), %B: 월(영어 => 전체), %b: 월(영어 => 앞 3글자)
# %d: 일, %A: 요일(영어 => 전체), %a: 요일(영어 => 앞 3글자)
print(today.strftime('%Y-%m-%d'))
print(today.strftime('%y-%m-%d'))
print(today.strftime('%Y-%B-%d'))

2022-05-18 14:37:25.103260
2022-05-18
22-05-18
2022-May-18